/// COLORS
///// basic colors palette
// $blue = #5477F5
// $green = #41B42E
// $red =  #EF095B
// $yellow = #FEAC00

///// dark
$dark = #272733
$dark-mute = #3D4050

///// grays
$gray-dark = #585B5B
$gray-md = #BDC2C4
$gray = #B0AFB5
$gray-light = #D7DCDF
$gray-x-light = #E3E8EA
$gray-bg = #F2F7F8
$gray-tone = #D8DEE9

$colors = {
	state: {
		info: #5477F5,
		success: #41B42E,
		warning: #FAFF06,
		alert: #FF0642
	},
	dark: {
		dark: $dark,
		mute: $dark-mute
	},
	gray: {
		dark: $gray-dark,
		md: $gray-md,
		base: $gray,
		light: $gray-light,
		x-light: $gray-x-light,
		bg: $gray-bg,
		tone: $gray-tone
	}
}

///// states colors
$info-color = $colors.state.info
$success-color = $colors.state.success
$warning-color = $colors.state.warning
$alert-color = $colors.state.alert

$purple = #A34DD3
$tale = #00DBDF

///// theme colors
$base-color = $dark
$theme-color = #3E9CDC
$theme-color-second = #286690
// $theme-gradient-start = #0ACD8E
// $theme-gradient-end = #34E7FF

$dark-color = $dark
$mute-color = $dark-mute
$light-color = #ffffff
$gray-color = $gray


/// elements colors
///// important elements
$link-color = $theme-color
$error-color = $alert-color

///// grays
$gray-text = $gray
$gray-border = $gray-x-light
$gray-element = $gray

///// backgrounds
$bg-dark = $dark
$bg-gray = $gray-bg
