////// THEME fonts families
$font-base = 'Lato', sans-serif
$font-title = $font-base
$font-additional = $font-base
$font-article = $font-base
$font-note = $font-base
$font-code = monospace
$font-price = $font-base
