$rootDir = '../../'
$themeDir = '../../'

$vendorsRootDir = $rootDir+'vendors/'

$fontsInitDir = '../assets/fonts/'
$fontsInit = $themeDir+'src/assets/fonts/**/*.styl'
$fontsRootDir = $vendorsRootDir+'fonts/'
$fontsRootInit = $fontsRootDir+'init/'

$pluginsRootDir = $vendorsRootDir+'plugins/'
$pluginsDir = $vendorsDir+'plugins/'

$uiDir = $vendorsRootDir+'parts-ui-beta/'

$uiCoreDir = $uiDir+'ui-core/'
$uiLayoutsDir = $uiDir+'layout/'
$uiComponentsDir = $uiDir+'components/'

$componentsDir = $themeDir+'src/components/'
$layoutsDir = $themeDir+'src/layout/**/'
