/// STYLES GUIDE


///// inputs
//////// placeholder
$input-placeholder-color = $dark
$input-placeholder-light = alpha(#fff,.3)

//////// border
$input-border-width = 1px
$input-border-style = solid
$input-border-color = #fff
$input-border-hover = #fff
$input-border-focus = $theme-color
$input-border-light = alpha(#fff,.1)
$input-border-light-hover = alpha(#fff,.12)
$input-border-dark = lighten($dark,3)
$input-border-dark-hover = lighten($dark,5)

$input-bg = #DFDFE0
$input-bg-smooth = lighten($input-border-color,3)

///// inputs included styles
$input-sizes = 'md'
$input-elements = error
$input-modifiers = ''

////// button
$button-bg = darken($gray-bg,3)
$button-shadow = 0px 2px 8px -3px alpha(#000,.3)
$button-shadow-hover = 0px 3px 13px -3px alpha(#000,.55)


///// buttons included styles
$button-types = block
$button-sizes = md
$button-colors = theme light
$button-outline-mods = ''

////// card
$card-shadow = 0px 2px 8px -2px alpha(#000,.3)
$card-shadow-hover = 0px 2px 15px -1px alpha(#000,.35)
$card-border-color = alpha(#000,.08)


///// cards included styles
$card-modifiers = corner border
$card-types = $card-modifiers
$card-section-sizes = ''
$card-section-colors = ''
$card-section-proportions = ''
$card-section-types = corner
$card-elements = title text note label

///// header styles
$header-size = 100px
$header-bg = ''
$header-states = sticked
$header-types = ''


///// link styles
$link-border-intensity = .3
$link-border-hover-intensity = .8

$link-border-types = ''
$link-border-colors = ''
