mixin burger()
	+b.burger.js-toggle.js-toggle-outside(data-toggle-exceptions=themeEl+"-header" data-toggle-target=themeEl+"-header")&attributes(attributes)
		+e.container
			+e.line.--line1
			+e.line.--line2
			+e.line.--line3
